<form [formGroup]="formulario" (submit)="onSubmit()">
  <div class="modal-content border-0">
    <div class="modal-body d-flex p-modal border-0 p-0">
      <div class="picture">
        <img src="./assets/login.jpg" class="img-fluid" alt="" />
      </div>
      <div class="d-flex log flex-column align-items-center icono mt-2">
        <i class="fa-solid fa-circle-user fa-8x"></i>
        <div class="mt-3 mb-3 p-5">
          <div class="input-group input-group-lg mb-4">
            <span class="input-group-text i-span" id="basic-addon1"
              ><i class="fa-solid fa-user-large"></i
            ></span>
            <input
              type="email"
              formControlName="email"
              class="form-control border-0 sombras"
              placeholder="Usuario"
            />
          </div>
          <div class="input-group input-group-lg">
            <span class="input-group-text i-span" id="basic-addon1"
              ><i class="fa-solid fa-lock"></i
            ></span>
            <input
              type="text"
              formControlName="password"
              class="form-control border-0 sombras"
              placeholder="Contraseña"
            />
          </div>
        </div>
        <button class="btn btn-iniciar">Iniciar sesión</button>
      </div>
      <div class="cerrar">
        <button
          type="submit"
          class="btn-close"
          aria-label="Close"
          (click)="activeModal.close(null)"
        ></button>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<!-- <div class="modal fade modal-lg modal-dialog" id="exampleModal"
  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="row no-gutters">
           
            <div class="col">
              <div class="close">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/home']"></button>
            </div>
              <div class="card-block px-2">
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                  <div class="p-4 text-center">
                    <div class="rounded-circle text-center">
                      <i class="log fa-solid fa-user text-white fa-6x fa-fw" ></i>
                    </div>
                    <div class="input-group mb-3 text-center">
                      <span class="input-group-text"><i class="fa-solid fa-user fa-2x text-black"></i></span>
                      <input type="text" class="form-control" formControlName="email" placeholder="Usuario">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text"><i class="fa-solid fa-lock fa-2x text-black"></i></span>
                      <input type="password" class="form-control"  formControlName="password" placeholder="Contraseña">
                    </div>
                    <p class="text-center text-primary">¿Olvidó su contraseña?</p>
                    <button type="submit" class="btn text-white" data-bs-dismiss="modal" [routerLink]="['operario']">Iniciar sesión</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
