<!-- <footer class="d-flex flex-row bd-highlight mb-3 text-white justify-content-around">
   
      <div class="p-2 bd-highlight">
        <hr class="hr text-white" width="600px"/>
      </div>
      <div class="d-flex flex-column text-white">
        <div class="p-2 bd-highlight">
          <img src="./assets/logo.png" alt="" width="200px" height="80px">
        </div>
        <div class="p-2 bd-highlight">
        <p>Copyright © 2023 SPEED MOVE, Inc.</p>
      </div>
      </div>
      
      <div class="p-2 bd-highlight">
        <hr class="hr text-white" width="600px" height="3px"/>
      </div>
</footer> -->

<footer class="d-flex flex-column align-items-center">
  <div class="d-flex container align-items-center justify-content-between">
  <div class="linea"></div>
  <div class="logo">
    <img class="img-responsive" src="./assets/logo.png" alt="" />
  </div>
  <div class="linea"></div>
</div>
<p class="copy">Copyright © 2023 SPEED MOVE, Inc.</p>
</footer>