<nav class="navbar bg-body-tertiary text-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <div class="d-flex">
                <img src="./assets/logo.png" alt="" width="300px" height="200px" class="img-fluid">
                <!-- Button trigger modal -->
                <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Login
                </button>
            </div>
        </a>
    </div>

</nav>