.sombras {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    color: #848484;
  }
  .p-modal{
    padding: 40px 65px 20px 65px;
    color: #404040;
  }


  .footer-modal{
    margin: 5px 18px 25px 0px;
  }
  
.fecha{
  width: 20%;
  height: fit-content;
}
.calendar{
  background-color: #1b2540f5;
  color: white;
}

::ng-deep .theme-blue .bs-datepicker-head{
  background-color: #1b2540f5 !important;
}

.disabled-button{
  background-color: #98B9BE;
  color: #1B2540;
  border: 0;
}

.disabled-button-revi{
  background-color: #BC7B39;
  color: white;
  border: 0;
}



