<form [formGroup]="form" (submit)="onSubmit()">
  <div class="modal-content border-0 modal-fondo">
    <div class="modal-header custom">
      <!-- <h6 class="modal-title" >EDITAR PEDIDO</h6> -->
          <h6 class="modal-title">NUEVO PEDIDO</h6>
    </div>
    <div class="modal-body p-modal">
      <!-- <h6 class="ms-4" >FORMULARIO EDITAR PEDIDO</h6> -->
      <h6 class="ms-2" >FORMULARIO NUEVO PEDIDO</h6>
      <div class="flex-row d-flex justify-content-around mb-3 mt-5">
        
        <div class="input-group fecha">
          <label for="fecha" class="form-label col-12">Fecha</label>
          <input
            type="text"
            class="form-control border-0 rounded-start sombras"
            autocomplete="off"
            formControlName = "fecha_salida"
            bsDatepicker
            id="fecha"
            [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }"
          />
            <span class="input-group-text calendar border-0">
              <i class="fa-regular fa-calendar-days"></i>
            </span>
        </div>


          <div class="col-md-3">
            <label for="orogen" class="form-label">Almacén origen</label> 
            <ng-select #select [items]="almacenes" bindLabel="nombre" formControlName = "almacen_destino" bindValue="nombre"></ng-select>
          </div>
          <div class="col-md-3">
            <label for="destino"  class="form-label">Almacén destino</label> 
            <ng-select #select  [items]="almacenes" bindLabel="nombre" formControlName = "almacen_origen" bindValue="nombre"></ng-select>
          </div>
          <div class="col-md-2">
            <label for="matricula" class="form-label"
              >Matrícula del camión</label
            >
            <input
              type="text"
              class="form-control border-0 sombras"
              id="matricula"
              formControlName = "matricula"
            />
          </div>
      </div>
          <div class="flex-row d-flex mb-4 justify-content-around">
          <div class="mb-3 col-12 p-3 ">
            <label for="carga" class="form-label">Detalles de la carga</label>
            <textarea class="form-control border-0 sombras" formControlName = "detalles" id="carga" rows="4"></textarea>
          </div>
        </div>

    <div class="flex-row d-flex justify-content-end gap-2 footer-modal">
      <button type="submit" class="btn btn-guardar">
        <i class="fa-solid fa-paper-plane"></i> Enviar
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.close(null)"
      >
        Cancelar
      </button>
    </div>
  </div>
  </div>
</form>
