<section>
    <div class="section1 d-flex justify-content-between">
        <div class="info">
            <h2 class="mb-4">¡Bienvenido a nuestra Intranet Logística!</h2>
            <p>Esta plataforma es tu punto de referencia para acceder a herramientas 
               y recursos que facilitarán tu trabajo diario en el campo de la logística. 
            </p>
            <p>Como parte de nuestro compromiso de mejora continua, hemos 
                desarrollado esta intranet para brindarte un entorno colaborativo y 
                eficiente donde podrás encontrar toda la información relevante y las 
                herramientas necesarias para optimizar tus tareas y mantener una 
                comunicación fluida con los demás miembros de nuestro equipo.
            </p>
            <p>La armonía dentro de nuestro equipo es un pilar fundamental de nuestro éxito. 
                Valoramos la colaboración, el respeto mutuo y la comunicación abierta en todas las etapas 
                del proceso logístico. Trabajamos juntos para superar desafíos y encontrar soluciones 
                innovadoras que impulsen la eficiencia y el crecimiento tanto para nuestros clientes como 
                para nuestra empresa.</p>
        </div>
        <div class="img">
            <img class="img-responsive rounded" src="./assets/foto-1.jpg" alt="" />
        </div>
    </div>
</section>