<div class="d-flex flex-row justify-content-sm-between bloque1">
    <div>
      <button (click)="crearPedido()" class="btn btn-guardar btn-sm" ><i class="fa-regular fa-folder-plus"></i> Pedido</button>
    </div>
    <div>
    <div class="input-group input-group-sm">
      <input type="text" #search id="search" class="form-control input-buscar border-0" placeholder="Buscar...">
      <span class="input-group-text border-0 icon-buscar" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    </div>
    
</div>

<div>
    <ngx-datatable #table class="bootstrap mb-5 mt-3" [rows]="rows" [columns]="columns" [headerHeight]="40" 
    [columnMode]="'force'" [footerHeight]="40" [limit]="10" rowHeight="auto">
    <ngx-datatable-column name="acciones" [sortable]="false" prop="name">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div class="acciones-span">
          <span>Acciones</span>
        </div>
      </ng-template>
  
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        <div class="text-center">
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-edit">
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
            </button>
            <button type="button" class="btn btn-trash">
              <i class="fa-solid fa-trash-can fa-lg"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
</div>
