.sombras {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    color: #848484;
  }
  .p-modal{
    padding: 40px 50px 20px 50px;
    color: #404040;
  }


  .footer-modal{
    margin: 5px 40px 25px 0px;
  }

  .disabled-button{
    background-color: #98B9BE;
    color: #1B2540;
    border: 0;
  }