  
  .bloque1{
    margin-top: 5rem;
  }
  
  .input-buscar{
    border-color: #1B2540;
    background-color: #f2f2f2;
  }
  .input-buscar:focus{
    box-shadow: none;
  }
  
  
  .icon-buscar{
    background-color: #98B9BE;
    color: #1B2540;
  }
  .form-control:focus {
    outline: none;
  }