<!-- Modal -->
<div class="modal fade modal-lg modal-dialog modal-dialog-centered" id="exampleModal"
  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-auto">
              <img src="./assets/login.jpg" width="380px" height="600px" class="img-fluid" alt="">
            </div>
            <div class="col">
              <div class="close">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="card-block px-2">
                <form action="">
                  <div class="p-4 text-center">
                    <div class="rounded-circle text-center">
                      <i class="log fa-solid fa-user text-white fa-6x fa-fw" ></i>
                    </div>
                    <div class="input-group mb-3 text-center">
                      <span class="input-group-text"><i class="fa-solid fa-user fa-2x text-black"></i></span>
                      <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text"><i class="fa-solid fa-lock fa-2x text-black"></i></span>
                      <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <p class="text-center text-primary">¿Olvidó su contraseña?</p>
                    <button type="submit" class="btn text-white">Iniciar sesión</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>